// Small fixes for global ploblems
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Firefox button focus
button::-moz-focus-inner {
  border: 0;
}
