// Project placeholders
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

%background {
  &--black {
    background: $colors__black
  }

  &--white {background: $colors__white}
}

%scroll-optimization {
  transform: translate3d(0, 0, 0);
  will-change: scroll-position;
}

%container {
  padding-left: $gutter;
  padding-right: $gutter;

  @include xs {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }
}

%overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include size(100%, 100%);
}

// Text overflow ellipsis protection
%string-ellipsis-protection {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Very long letters protection
%very-long-letters-protection {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word; // stylelint-disable declaration-block-no-duplicate-properties
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

// Classic lists
%list-style {
  list-style-type: disc;
  padding-left: $gutter;
  margin-bottom: $gutter / 2;

  > li {
    margin-bottom: round($gutter / 4);
  }
}

// Quotes
%quote-content {
  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }

  &:before,
  &:after {
    color: inherit;
  }
}
